header.header
    .container
        .logo   
            +icon("Logo")
            | Giant
        nav.menu
            ul.menu__list
                li.menu__item
                    a(href="#home").menu__link.smoothScroll Home
                li.menu__item
                    a(href="#features").menu__link.smoothScroll Features
                li.menu__item
                    a(href="#pricing").menu__link.smoothScroll Pricing
                li.menu__item
                    a(href="#download").menu__link.btn.menu__link--button.smoothScroll Download Now
        .sandwich
            .sandwich__line.sandwich__line--top
            .sandwich__line.sandwich__line--middle
            .sandwich__line.sandwich__line--bottom