section.banner#home
    .container
        .banner__info
            h1.banner__title A Powerful & Unique App Landing Template
            p.banner__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ul.banner__list
                li.banner__item Unlimited colors: banner with images, slider or video
                li.banner__item Fully Responsive and powered by HTML5 and CSS3
                li.banner__item Very easy to customize : set up in minutes
            a(href="#").btn.banner__button Start Exploring Us
