section.download#download
    .container
        h2.download__title Download Giant App Now
        .download__list
            .download__item
                .download__img
                    .icon-apple
                .download__text
                    h3.download__name Download
                    p.download__description Download from app store
            .download__item
                .download__img
                    .icon-android
                .download__text
                    h3.download__name Download
                    p.download__description Download from play store
            .download__item
                .download__img
                    .icon-windows
                .download__text
                    h3.download__name Download
                    p.download__description Download from microsoft store
