section.features#features
    .container
        .features__box
            .features__img
                .icon-feature-2.icon
            .features__info
                h3.features__title Sell any product online
                p.features__description Over 92% of computers are infected with Adware and spyware. Such software is
        .features__box
            .features__img
                .icon-feature-1.icon
            .features__info
                h3.features__title Very easy to customize
                p.features__description Many of us are so used to working on a computer desktop that when it comes
        .features__box
            .features__img
                .icon-feature-6.icon
            .features__info
                h3.features__title Unlimited colors
                p.features__description Audio player software is used to play back sound recordings in one of the many 
        .features__box
            .features__img
                .icon-feature-3.icon
            .features__info
                h3.features__title Responsive, HTML5, CSS3
                p.features__description Computers have become ubiquitous in almost every facet of our lives. At work,
        .features__box
            .features__img
                .icon-feature-4.icon
            .features__info
                h3.features__title Designed to convert
                p.features__description If you are looking for a new way to promote your business that won’t cost
        .features__box
            .features__img
                .icon-feature-5.icon
            .features__info
                h3.features__title With no boundaries
                p.features__description Now, if you are interested in being the best player, getting really good money and 

