section.pricing#pricing
    .container
        h2.pricing__title We've got the perfect package for you
        p.pricing__description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
        .offers
            .offer
                p.offer__title Basic
                .offer__price
                    sup $ 
                    | 12.0
                    sub /m
                ul.offer__list
                    li.offer__list-item One User
                    li.offer__list-item Multiple Access
                    li.offer__list-item SMS Support
                    li.offer__list-item 24/7 Online Support
                .offer__call-to-action Start Free Trial
                a(href="#").offer__btn.btn Buy Now
            .offer
                p.offer__title Standard
                .offer__price
                    sup $ 
                    | 24.0
                    sub /m
                ul.offer__list
                    li.offer__list-item Five User
                    li.offer__list-item Multiple Access
                    li.offer__list-item SMS Support
                    li.offer__list-item 24/7 Online Support
                .offer__call-to-action Start Free Trial
                a(href="#").offer__btn.btn Buy Now
            .offer
                p.offer__title Premium
                .offer__price
                    sup $ 
                    | 250.0
                    sub /m
                ul.offer__list
                    li.offer__list-item Twenty User
                    li.offer__list-item Multiple Access
                    li.offer__list-item SMS Support
                    li.offer__list-item 24/7 Online Support
                .offer__call-to-action Start Free Trial
                a(href="#").offer__btn.btn Buy Now
            .offer
                p.offer__title Enterprise
                .offer__price
                    sup $ 
                    | 999.0
                    sub /m
                ul.offer__list
                    li.offer__list-item Unlimited User
                    li.offer__list-item Multiple Access
                    li.offer__list-item SMS Support
                    li.offer__list-item 24/7 Online Support
                .offer__call-to-action Start Free Trial
                a(href="#").offer__btn.btn Buy Now
