section.testimonials
    .container
        h2.testimonials__title What our customers are saying
        p.testimonials__description Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
        .testimonials__gallery
            .testimonials__item
                p.testimonials__info The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
                .testimonials__person
                    .testimonials__img
                        .icon-bullock
                    .testimonials__badge
                        h4.testimonials__name Alexandra Bullock
                        p.testimonials__company Apple Inc.
            .testimonials__item
                p.testimonials__info Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
                .testimonials__person
                    .testimonials__img
                        .icon-sebastian
                    .testimonials__badge
                        h4.testimonials__name Gary Sebastian
                        p.testimonials__company Apple Inc.
            .testimonials__item
                p.testimonials__info Definitely a great theme and the support team are fantastic. Customer support is numero uno and ShapingRain have got this spot on. Cheers guys.
                .testimonials__person
                    .testimonials__img
                        .icon-bilbau
                    .testimonials__badge
                        h4.testimonials__name Samantha Bilbau
                        p.testimonials__company Apple Inc.
            .testimonials__item
                p.testimonials__info The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
                .testimonials__person
                    .testimonials__img
                        .icon-bullock
                    .testimonials__badge
                        h4.testimonials__name Alexandra Bullock
                        p.testimonials__company Apple Inc.
            .testimonials__item
                p.testimonials__info Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
                .testimonials__person
                    .testimonials__img
                        .icon-sebastian
                    .testimonials__badge
                        h4.testimonials__name Gary Sebastian
                        p.testimonials__company Apple Inc.
            .testimonials__item
                p.testimonials__info Definitely a great theme and the support team are fantastic. Customer support is numero uno and ShapingRain have got this spot on. Cheers guys.
                .testimonials__person
                    .testimonials__img
                        .icon-bilbau
                    .testimonials__badge
                        h4.testimonials__name Samantha Bilbau
                        p.testimonials__company Apple Inc.