extends layout/main

block variables
	-var title = 'Giant'

block content
	include modules/content/banner
	include modules/content/features
	include modules/content/dontleave
	include modules/content/screenshots
	include modules/content/pricing
	include modules/content/video
	include modules/content/testimonials
	include modules/content/download
