// Colors
$font-color: #777;
$white: #fff;
$black: #222;
$black-2: #333;
$gradient-orange: #fd712c;
$gradient-pink: #ef1b76;

// Sizes
$base-font-size: 14px;

$small: 560px;
$phone: 768px;
$tablet: 1024px;
$desktop: 1280px;
$large: 1600px;

$content: 1200px;

// Fonts
