.banner {
    height: 686px;
    background: url('../images/content/banner-iphones.png') top 46px right no-repeat,
        linear-gradient(to right, $gradient-orange 0%, $gradient-pink 100%);

    @include screen ($desktop) {
        background: url('../images/content/banner-iphones.png') top 46px right -200px no-repeat,
        linear-gradient(to right, $gradient-orange 0%, $gradient-pink 100%);
    }

    @include screen ($tablet) {
        background: url('../images/content/banner-iphones.png') top 46px right -400px no-repeat,
        linear-gradient(to right, $gradient-orange 0%, $gradient-pink 100%);
    }

    @include screen ($phone) {
        background: linear-gradient(to right, $gradient-orange 0%, $gradient-pink 100%);
    }

    @include screen ($small) {
        height: auto;
    }

    &__info {
        max-width: 500px;
        padding-top: 110px;
        color: $white;

        @include screen ($small) {
            padding: 10px;
        }
    }

    &__title {
        font-family: 'Dosis';
        font-size: 54px;
        font-weight: 600;
        padding-bottom: 25px;

        @include screen ($small) {
            font-size: 30px;
            text-align: center;
        }
    }

    &__description {
        font-weight: 300;
        padding-bottom: 25px;
    }

    &__list {
        margin-bottom: 15px;
    }

    &__item {
        padding-left: 35px;
        padding-bottom: 25px;
        position: relative;

        &::before {
            content: url(../images/content/list-bullet.png);
            position: absolute;
            left: 0;
            top: 3px; 
        }
    }

    &__button {        
        box-shadow: 0 0 0 5px #0000001a;

        @include screen ($small) {
            margin-bottom: 30px;
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
}