footer.footer
    .container
        .footer__icons
            a(href="#")
                i.fab.fa-facebook-f
            a(href="#")
                i.fab.fa-twitter
            a(href="#")
                i.fab.fa-dribbble
            a(href="#")
                i.fab.fa-behance
        p.footer__text Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com